@{
    ViewData["Title"] = "Add Family Planning";
    Layout = "_UserLayout";
}

<!-- NAVBAR -->
<partial name="Partial/_Navbar" />



<div class="mx-5">
    <div class="card card-selected w-75 mx-auto mt-5">
        <div class="card-header card-header-selected d-flex justify-content-between align-items-center">
            <h5 class="card-title my-2">Add Patient</h5>
        </div>
        <div class="card-body m-4 pt-0">
            <form asp-controller="Patient" asp-action="Create">
                <div class="row form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <h5 class="card-title mb-3"> Basic Information</h5>
                
                    <div class="form-group col-12 mt-3 mb-3">
                        <div class="d-flex align-items-center justify-content-end gap-3">
                            <button class="btn btn-pink" type="submit">
                                <i class="fas fa-save"></i>
                                <span>Save</span>
                            </button>
                            <a class="btn btn-outline-secondary" asp-controller="Patient" asp-action="Index">
                                <i class="fas fa-undo"></i>
                                <span>Back to List</span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const hasPhilHealthSelect = document.getElementById('HasPhilHealth');
            const philHealthSection = document.getElementById('philHealthSection');

            hasPhilHealthSelect.addEventListener('change', function () {
                if (this.value === 'true') {
                    philHealthSection.style.display = 'block';
                } else {
                    philHealthSection.style.display = 'none';
                }
            });
        });
    </script>
}
