@{
    ViewData["Title"] = "Patient / Patient Information";
    Layout = "_UserLayout";
}

<!-- NAVBAR -->
<partial name="Partial/_Navbar" />

<div class="mx-4">
    <div class="row">
        <div class="d-flex justify-content-start mb-3">
            <a asp-action="Index" class="btn btn-outline-pink">
                <i class="fas fa-arrow-left"></i>
                <span>Back</span>
            </a>
        </div>

        <!-- Left Sidebar: Patient Information -->
        <div class="col-md-3 mb-4">
            <div class="card card-selected">
                <div class="card-body c-details">
                    <div class="d-flex justify-content-center align-items-center flex-column mb-3 mx-md-5">
                        <!-- Patient Profile Info -->
                        <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                            <img src="~/profile/defaultProfile.png" alt="Profile" class="img-fluid rounded-circle mb-3" />
                            <h5 class="fw-bold m-0">Jennelyn Pepito</h5>
                            <h6 class="text-muted m-0">Jennelyn@gmail.com</h6>
                            <h6 class="m-0">09123456789</h6>
                        </div>

                        <!-- Sidebar Links -->
                        <div class="d-flex flex-column gap-4 mt-5 w-100">
                            <a asp-action="Information"  class="btn btn-outline-pink py-2 @(ViewContext.RouteData.Values["action"]?.ToString() == "Information" ? "active" : "")">
                                <i class="fas fa-user"></i>
                                <span style="font-weight: 600;">Patient Information</span>
                            </a>

                            <a asp-action="MedicalRecords" class="btn btn-outline-pink py-2 @(ViewContext.RouteData.Values["action"]?.ToString() == "MedicalRecords" ? "active" : "")">
                                <i class="fas fa-file-medical"></i>
                                <span style="font-weight: 600;">Medical Records</span>
                            </a>

                            <a asp-action="Payments" class="btn btn-outline-pink py-2 @(ViewContext.RouteData.Values["action"]?.ToString() == "Payments" ? "active" : "")">
                                <i class="fas fa-receipt"></i>
                                <span style="font-weight: 600;">Payments / Invoices</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Content: Patient Information Partial -->
        <partial name="Partial/Patient/_Payments" />
    </div>
</div>
