@using NatalCare.Models.DTOs
@model UserDTO

@{
    ViewData["Title"] = "User Detail";



    Layout = "_UserLayout";
}

<partial name="Partial/_Navbar" />

<div class="mx-4">
    <div class="mb-3">
        <a class="btn btn-outline-pink" asp-controller="User" asp-action="Index">
            <i class="fas fa-arrow-left"></i>
            <span>Back to List</span>
        </a>
    </div>

    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title my-2">User Details</h5>
        </div>
        <div class="card-body m-5">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="col-md-4 mb-3">
                    <label asp-for="FirstName" class="control-label">First Name</label>
                    <div class="input-group">
                        <label asp-for="FirstName" class="input-group-text" style="cursor:pointer">
                            <i class="fas fa-user"></i>
                        </label>
                        <input asp-for="FirstName" class="form-control form-control-lg fs-6" placeholder="Enter Firstname" disabled />
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label asp-for="MiddleName" class="control-label">Middle Name</label>
                    <div class="input-group">
                        <label asp-for="MiddleName" class="input-group-text" style="cursor:pointer">
                            <i class="fas fa-user"></i>
                        </label>
                        <input asp-for="MiddleName" class="form-control form-control-lg fs-6" placeholder="Enter Middlename" disabled />
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label asp-for="LastName" class="control-label">Last Name</label>
                    <div class="input-group">
                        <label asp-for="LastName" class="input-group-text" style="cursor:pointer">
                            <i class="fas fa-user"></i>
                        </label>
                        <input asp-for="LastName" class="form-control form-control-lg fs-6" placeholder="Enter Lastname" disabled />
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label asp-for="Email" class="control-label"></label>
                    <div class="input-group">
                        <label asp-for="Email" class="input-group-text" style="cursor:pointer">
                            <i class="fas fa-envelope"></i>
                        </label>
                        <input asp-for="Email" class="form-control form-control-lg fs-6" placeholder="Enter Email" disabled />
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label asp-for="Gender" class="control-label"></label>
                    <div class="input-group">
                        <label asp-for="Gender" class="input-group-text" style="cursor:pointer">
                            <i class="fas fa-venus-mars"></i>
                        </label>
                        <select asp-for="Gender" class="form-select text-muted" disabled>
                            <option disabled selected class="text-muted">-select gender</option>
                            <option>Female</option>
                            <option>Male</option>

                        </select>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label asp-for="Address" class="control-label"></label>
                    <div class="input-group">
                        <label asp-for="Address" class="input-group-text" style="cursor:pointer">
                            <i class="fas fa-map-marker-alt"></i>
                        </label>
                        <input asp-for="Address" class="form-control form-control-lg fs-6" placeholder="Enter Address" disabled />
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label asp-for="Birthdate" class="control-label"></label>
                    <div class="input-group">
                        <label asp-for="Birthdate" class="input-group-text" style="cursor:pointer">
                            <i class="fas fa-calendar-alt"></i>
                        </label>
                        <input asp-for="Birthdate" class="form-control form-control-lg fs-6" placeholder="Enter Birthdate" disabled />
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label asp-for="Role" class="control-label">Profile</label>
                    <div class="input-group">
                        <label asp-for="Role" class="input-group-text" style="cursor:pointer">
                            <i class="fas fa-user-shield"></i>
                        </label>
                        <select asp-for="Role" asp-items="@Model.RoleList" class="form-select text-muted" disabled>
                            <option disabled selected class="text-muted">-select profile</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
