@model NatalCare.Models.Entities.ClinicalFaceSheet


<div class="d-flex justify-content-center align-items-center flex-column ">
    <h5 class="px-2 mb-3 text-center fw-bold">CLINICAL FACE SHEET</h5>
    <div class="d-flex align-items-center">
        <h6 class="me-2 mb-0 fw-bold">CASE NO#:</h6>
        <div class="border-bottom flex-grow-1">
            <span class="px-2 h6">
                @ViewBag.DeliveryId
            </span>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end my-3 gap-3 px-2">
    @if (Model == null || Model.CaseNo == null){
        <button class="btn btn-sm btn-pink" data-bs-toggle="modal" data-bs-target="#clinicalSheetAddModal">
            <i class="fas fa-plus"></i>
            <span>Add New</span>
        </button>
    }
    else{
        <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#clinicalSheetEditModal">
            <i class="fas fa-pencil-alt"></i>
            <span>Edit</span>
        </button>
    }
</div>

@if (Model == null || Model.CaseNo == null)
{
    <div class="alert alert-primary" role="alert">
        No Clinical Face Sheet Added Yet!
    </div>
}
else{
<div class="container mt-4">
        <!-- Patient Basic Info -->
        <div class="row mb-3">
            @* Patient Details *@
            <div class="col-md-6 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Name of Patient:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            Jay Clark Jimenez Anore
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Ward/Service:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">

                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Address:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            Tipolo, Mandaue City, Cebu
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-2 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">CONTACT NO#:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            09123456789
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Religion:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            Roman Catholic
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Occupation:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            Enginneer
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Birthdate:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            November 21, 2024
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-2 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Age:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            23
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Birthplace:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            Tipolo, Mandaue City, Cebu
                        </span>
                    </div>
                </div>
            </div>
            <style>
                @@media (min-width: 768px) {
                .mcol {
                flex: 0 0 auto;
                width: 12.5% !important;
                }
                }
            </style>
            <div class="col-md-2 border py-3 mcol d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Sex:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            Female
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-2 border py-3 mcol d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Status:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            Single
                        </span>
                    </div>
                </div>
            </div>
            @* Admission Details *@
            <div class="col-md-12 border py-3">
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="me-2 mb-0 fw-bold">Admission:</h6>
                        <div class="d-flex align-items-center mt-3 mx-5">
                            <h6 class="me-2 mb-0 fw-bold">Date:</h6>
                            <div class="border-bottom flex-grow-1">
                                <span class="px-4">
                                    08-08-2024
                                </span>
                            </div>
                        </div>

                        <div class="d-flex align-items-center mt-3 mb-sm-3 mx-5">
                            <h6 class="me-2 mb-0 fw-bold">Time:</h6>
                            <div class="border-bottom flex-grow-1">
                                <span class="px-4">
                                    08-08-2024
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h6 class="me-2 mb-0 fw-bold">Discharge:</h6>
                        <div class="d-flex align-items-center mt-3 mx-5">
                            <h6 class="me-2 mb-0 fw-bold">Date:</h6>
                            <div class="border-bottom flex-grow-1">
                                <span class="px-4">
                                    08-08-2024
                                </span>
                            </div>
                        </div>

                        <div class="d-flex align-items-center mt-3 mb-sm-3 mx-5">
                            <h6 class="me-2 mb-0 fw-bold">Time:</h6>
                            <div class="border-bottom flex-grow-1">
                                <span class="px-4">
                                    08-08-2024
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h6 class="me-2 mb-0 fw-bold">Total # of Days:</h6>
                        <div class="d-flex align-items-center mt-3 mx-5">
                            <div class="border-bottom flex-grow-1">
                                <span class="px-4">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">LMP:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            November 21, 2024
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">EDC#:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            June 21, 2025
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">AOG:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            32 Weeks
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3">
                <div class="d-flex align-items-center mt-3 mx-1">
                    <h6 class="me-2 mb-0 fw-bold">T:</h6>
                    <div class="border-bottom flex-grow-1">
                        <span class="px-2">
                        </span>
                    </div>

                    <h6 class="me-2 mb-0 fw-bold">P:</h6>
                    <div class="border-bottom flex-grow-1">
                        <span class="px-2">
                        </span>
                    </div>

                    <h6 class="me-2 mb-0 fw-bold">A:</h6>
                    <div class="border-bottom flex-grow-1">
                        <span class="px-2">
                        </span>
                    </div>

                    <h6 class="me-2 mb-0 fw-bold">L:</h6>
                    <div class="border-bottom flex-grow-1">
                        <span class="px-2">
                        </span>
                    </div>
                </div>

                <div class="d-flex align-items-center mt-3 mx-1">
                    <h6 class="me-2 mb-0 fw-bold">G:</h6>
                    <div class="border-bottom flex-grow-1">
                        <span class="px-2">
                        </span>
                    </div>

                    <h6 class="me-2 mb-0 fw-bold">P:</h6>
                    <div class="border-bottom flex-grow-1">
                        <span class="px-2">
                        </span>
                    </div>

                    <h6 class="me-2 mb-0 fw-bold">A:</h6>
                    <div class="border-bottom flex-grow-1">
                        <span class="px-2">
                        </span>
                    </div>
                </div>
            </div>


            <div class="col-md-6 border py-3">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">History of Patients Condition:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            History of Patients Condition, History of Patients Condition, History of Patients Condition
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">ADMITTING:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            Patient In Labor
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">ICD-10 CODE/S:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            080,9,Z39.0,Z39.2
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-12 border py-3">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Final Diagnosis:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            History of Patients Condition, History of Patients Condition, History of Patients Condition
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Name Of Informant:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            Paul Cuenca
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Relation to Patient:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            Sibling
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Address:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            Tipolo, Mandaue City, Cebu
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Contact #:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            09123456789
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 border py-3">
                <label class="fw-bold mb-2">Condition on Discharge:</label>
                <div class="form-check d-flex align-items-center mb-2 gap-2">
                    <input type="checkbox" id="dRecovered" class="update-checkbox custom-checkbox">
                    <label for="dRecovered" class="form-check-label">RECOVERED</label>
                </div>
                <div class="form-check d-flex align-items-center mb-2 gap-2">
                    <input type="checkbox" id="dImprov" class="update-checkbox custom-checkbox">
                    <label for="dImprov" class="form-check-label">IMPROVED</label>
                </div>
                <div class="form-check d-flex align-items-center mb-2 gap-2">
                    <input type="checkbox" id="dUnimprov" class="update-checkbox custom-checkbox">
                    <label for="dUnimprov" class="form-check-label">UNIMPROVED</label>
                </div>
            </div>

            <div class="col-md-6 border py-3">
                <label class="fw-bold mb-2">Disposition:</label>
                <div class="form-check d-flex align-items-center mb-2 gap-2">
                    <input type="checkbox" id="dDischarge" class="update-checkbox custom-checkbox">
                    <label for="dDischarge" class="form-check-label">DISCHARGE</label>
                </div>
                <div class="form-check d-flex align-items-center mb-2 gap-2">
                    <input type="checkbox" id="dTransfered" class="update-checkbox custom-checkbox">
                    <label for="dTransfered" class="form-check-label">TRASNFERRED</label>
                </div>
                <div class="form-check d-flex align-items-center mb-2 gap-2">
                    <input type="checkbox" id="dHama" class="update-checkbox custom-checkbox">
                    <label for="dHama" class="form-check-label">HAMA(Home Against Medical Advice)</label>
                </div>
                <div class="form-check d-flex align-items-center mb-2 gap-2">
                    <input type="checkbox" id="dAbssconded" class="update-checkbox custom-checkbox">
                    <label for="dAbssconded" class="form-check-label">ABSSCONDED</label>
                </div>
            </div>


            <!-- Midwife -->
            <div class="row py-3 d-flex justify-content-center">
                <div class="col-md-6 mt-5 text-center">
                    <div class="border-bottom px-3 mx-5">Midwife Member 1</div>
                    <label class="fw-bold mt-2 d-block">Admitting Midwife</label>
                    <label class="fw-bold mt-2 d-block">Printed Name & Signature</label>
                </div>
            </div>


        </div>

        <hr class="divider bg-pink" />
    </div>
}


<!-- Add Hearing Modal -->
<div class="modal fade" id="clinicalSheetAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-pink">
                <h5 class="modal-title">Clinical Face Sheet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="AddHRForm" method="POST">
                    @Html.AntiForgeryToken()
                    <div class="row">

                        <div class="col-md-6 mb-3">
                            <label for="DateVisitHR-Add" class="control-label">Date Visit</label>
                            <input type="datetime-local" id="DateVisitHR-Add" name="DateVisit" class="form-control" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="newbornBb-Add" class="control-label">Select Newborn</label>
                            <select id="newbornBb-Add" class="form-select" name="NewbornID" required>
                                <option disabled selected>select newborn baby</option>
                            </select>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="testDate-Add" class="control-label">Test Date</label>
                            <input type="date" id="testDate-Add" name="TestDate" class="form-control" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="babyStatus-Add" class="control-label">Baby Status</label>
                            <input id="babyStatus-Add" name="BabyStatus" class="form-control" placeholder="Enter status" required />
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="hearingResult-Add" class="control-label">Hearing Result</label>
                            <textarea id="hearingResult-Add" name="HearingResult" class="form-control" placeholder="Enter the result" rows="3"></textarea>
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="NotesHR-Add" class="control-label">Notes(Optional)</label>
                            <textarea id="NotesHR-Add" name="Notes" class="form-control" placeholder="Enter any relevant notes" rows="3"></textarea>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="practitionerHR-Add" class="control-label">Attending Practitioner</label>
                            <input id="practitionerHR-Add" name="AttendingPractioner" class="form-control" required />

                            @*   <select id="staff-Add" class="form-select" name="StaffID" required>
                                <option disabled selected>select encharged staff</option>
                            </select> *@
                        </div>

                        <div class="col-12 mt-3 d-flex justify-content-end">
                            <div class="d-flex align-items-center gap-2">
                                <button type="submit" class="btn btn-pink">Save</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
