.addItemModalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
* {
    scrollbar-color: #FC7995 white;
    scrollbar-width:thin;
}
.addItemModalBodyDiv1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

    .addItemModalBodyDiv1 label {
        width: 33%;
        color: #FF456E;
    }

    .addItemModalBodyDiv1 textarea {
        max-height: 120px;

    }

.createInvoiceTBody .fa-trash:before {
    color: #dc3545;
    cursor: pointer;
    font-size: 1.5rem;
    padding:.5rem;
    margin-top:1rem;
}



.descriptionModalBody{
    display:flex;
    flex-direction:column;
}

.descriptionModalBodyDiv1 {
    height: 20%;
    display:flex;
    justify-content:center;
    align-items:center
}
.descriptionModalBodyDiv2 {
    height: 300px;
    border-top: 1px solid #FF3864;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width:thin;
    scrollbar-color:pink;
}

.descriptionModalBodyDiv2 h5{
    margin-top:1rem;
}

.searchResultsDiv {
    position: absolute;
    max-height: 113px;
    min-height: 39.6px;
    width: 31%;
    border: 1px solid #FC7995;
    top: 35%;
    left: 1.2%;
    background-color: white;
    padding: 0;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #FC7995 white;
    border-radius: .2rem;
    display: none;
}
    /* Custom scrollbar for WebKit browsers (Chrome, Safari) */


.searchResultsDiv ::-webkit-scrollbar-thumb {
    background-color: #FC7995; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the thumb */
}

.searchResultsDiv li{
    width:100%;
    padding:.4rem;
    font-family:'Inter', sans-serif;
}
.searchResultsDiv li:nth-child(odd) {
    background-color: #fff6f6;
    width: 100%;
    padding: .4rem;
}

.searchResultsDiv li:hover {
    background-color: #FC7995;
    color:white;
    cursor:pointer;
}






/*PRINT*/
.out{
    width:100%;
    height:100vh;
    border:1px solid black;

}
