@model NatalCare.Models.Entities.Newborn


@{
    ViewData["Title"] = "Add Newborn";
    Layout = "_UserLayout";
}

<!-- NAVBAR -->
<partial name="Partial/_Navbar" />


<div class="mx-5">
    <div class="card card-selected w-75 mx-auto mt-5">
        <div class="card-header card-header-selected d-flex justify-content-between align-items-center bg-pink">
            <h5 class="card-title my-2">Add Newborn Baby</h5>
        </div>
        <div class="card-body m-4 pt-0">
            <form asp-controller="Newborn" asp-action="Create">
                <div class="row form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!--Mother Side-->
                    <h5 class="card-title mb-3"> Baby Information</h5>
                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="FirstName" class="control-label">Baby Name</label>
                        <input asp-for="FirstName" class="form-control" placeholder="Enter Firstname (e.g, juan)" required />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="MiddleName" class="control-label">Newborn Middle Name</label>
                        <input asp-for="MiddleName" class="form-control" placeholder="Enter Middlename (e.g, dela)" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="LastName" class="control-label">Newborn Last Name</label>
                        <input asp-for="LastName" class="form-control" placeholder="Enter Lastname (e.g, cruz)" required />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="DateofBirth" class="control-label"></label>
                        <input asp-for="DateofBirth" class="form-control" type="date" required />
                        <span asp-validation-for="DateofBirth" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="TimeofBirth" class="control-label"></label>
                        <input asp-for="TimeofBirth" class="form-control" type="time" required />
                        <span asp-validation-for="TimeofBirth" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="PlaceOfBirth" class="control-label">Place of Birth</label>
                        <input asp-for="PlaceOfBirth" class="form-control" placeholder="Enter place of birth (e.g., Street, City, Province)" required />
                        <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="Address" class="control-label">Address</label>
                        <input asp-for="Address" class="form-control" placeholder="Enter full address (e.g., Street, Barangay, City)" required />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-select" required>
                            <option disabled selected>select gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="Weight" class="control-label">Weight</label>
                        <input asp-for="Weight" class="form-control" placeholder="Enter weight in grams" required />
                        <span asp-validation-for="Weight" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="Length" class="control-label">Length</label>
                        <input asp-for="Length" class="form-control" placeholder="Enter length (cm or in)" required />
                        <span asp-validation-for="Length" class="text-danger"></span>
                    </div>

               
                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="HeadCircumference" class="control-label">Head</label>
                        <input asp-for="HeadCircumference" class="form-control" placeholder="Enter head circumference (cm)" required />
                        <span asp-validation-for="HeadCircumference" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="ChestCircumference" class="control-label">Chest</label>
                        <input asp-for="ChestCircumference" class="form-control" placeholder="Enter chest circumference (cm)" required />
                        <span asp-validation-for="ChestCircumference" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="MidArmCircumference" class="control-label">Chest</label>
                        <input asp-for="MidArmCircumference" class="form-control" placeholder="Enter mid-arm circumference (cm)" required />
                        <span asp-validation-for="MidArmCircumference" class="text-danger"></span>
                    </div>

                 
                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="Temp" class="control-label">Temperature</label>
                        <input asp-for="Temp" class="form-control" placeholder="Enter temperature (e.g, 37.5 °C)" required />
                        <span asp-validation-for="Temp" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="APGAR" class="control-label">APGAR</label>
                        <input asp-for="APGAR" class="form-control" placeholder="Enter APGAR score From 0 to 12" required />
                        <span asp-validation-for="APGAR" class="text-danger"></span>
                    </div>


                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="Medication" class="control-label">Medication</label>
                        <input asp-for="Medication" class="form-control" placeholder="Enter Medication" required />
                        <span asp-validation-for="Medication" class="text-danger"></span>
                    </div>

                    <hr class="my-4" />

                    <!--Mother Side-->
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="card-title my-3 mb-3">Mother Information</h5>

                        <div class="d-flex align-items-center gap-2">
                            <button type="button" id="searchPtBtn" class="btn btn-sm btn-outline-secondary">
                                <i class="fas fa-search"></i>
                                <span>Search Mother</span>
                            </button>

                            <button type="button" id="clearBtn" class="btn btn-sm btn-outline-danger">
                                <i class="fas fa-cancel"></i>
                                <span>Clear</span>
                            </button>
                        </div>

                    </div>
                    
                    <div class="form-group col-md-4 mb-3">
                        <label asp-for="MotherID" class="control-label">Mother ID</label>
                        <input asp-for="MotherID" class="form-control text-uppercase" placeholder="Enter (e.g., PT0001, PT0002 ...)" required readonly />
                        <span asp-validation-for="MotherID" class="text-danger"></span>
                    </div>


                    <div class="form-group col-md-4 mb-3">
                        <label for="Patient_FirstName" class="control-label">Mother First Name</label>
                        <input id="Patient_FirstName" class="form-control" placeholder="Enter First Name" readonly />
                    </div>

                    <div class="form-group col-md-4 mb-3">
                        <label for="Patient_MiddleName" class="control-label">Mother First Name</label>
                        <input id="Patient_MiddleName" class="form-control" placeholder="Enter Middle Name" readonly />
                    </div>

                    <div class="form-group col-md-4 mb-3">
                        <label for="Patient_LastName" class="control-label">Mother Last Name</label>
                        <input id="Patient_LastName" class="form-control" placeholder="Enter Last Name" readonly />
                    </div>

                    <div class="form-group col-12 mt-3 mb-3">
                        <div class="d-flex align-items-center justify-content-end gap-3">
                            <button class="btn btn-pink" type="submit">
                                <i class="fas fa-save"></i>
                                <span>Save</span>
                            </button>
                            <a class="btn btn-outline-secondary" asp-controller="Newborn" asp-action="Index">
                                <i class="fas fa-undo"></i>
                                <span>Back to List</span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Search Mother Modal -->
<div class="modal fade" id="searchMotherModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Search Mother</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="patientsListContainer"></div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/toastr/toastr.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $('#searchPtBtn').on('click', function () {
                loadPatientssPartialView()
            });
            $('#clearBtn').on('click', function () {
                $("#MotherID").val("").attr("placeholder", "Enter (e.g., PT0001, PT0002 ...)");
                $("#Patient_FirstName").val("").attr("placeholder", "Enter First Name");
                $("#Patient_MiddleName").val("").attr("placeholder", "Enter Middle Name");
                $("#Patient_LastName").val("").attr("placeholder", "Enter Last Name");
            });

            $('#patientsListContainer').on('click', "#patientSelectBtn", function () {
                var value = $(this).data("patientid");
                value.toUpperCase();
                LoadMotherDetails(value);
            });

            // $('#patientsListContainer').on('click', "#patientSelectTR", function () {
            //     var value = $(this).data("patid");
            //     value.toUpperCase();
            //     LoadMotherDetails(value);
            // });

        });

        function loadPatientssPartialView() {
            $.ajax({
                url: '@Url.Action("DisplayPatients", "Patient")',
                type: 'GET',
                success: function (result) {
                    $("#patientsListContainer").html(result);
                    $('#searchMotherModal').modal('show');
                },
                error: function () {
                    console.error("Failed to load patients data.");
                }
            });
        }

        function LoadMotherDetails(value) {
            $.ajax({
                url: '@Url.Action("GetMotherDetails", "Patient")',
                type: 'GET',
                data: { motherID: value },
                success: function (data) {
                    if (data && data.isSuccess) {
                        var item = data.item;
                        $("#MotherID").val(item.id);
                        $("#Patient_FirstName").val(item.firstname);
                        $("#Patient_MiddleName").val(item.middlename);
                        $("#Patient_LastName").val(item.lastname);
                        toastr.success('Mother Found!');
                    } else {
                        $("#MotherID").val(item.message);
                        $("#Patient_FirstName").val(item.message);
                        $("#Patient_MiddleName").val(item.message);
                        $("#Patient_LastName").val(item.message);
                        toastr.error('Mother Not Found!');
                    }
                    $('#searchMotherModal').modal('hide');
                },
                error: function () {
                    console.error("Error retrieving mother details.");
                }
            });
        }
    </script>
}




