@{
    ViewData["Title"] = "Newborm / Newborn Information";
    Layout = "_UserLayout";
}

<!-- NAVBAR -->
<partial name="Partial/_Navbar" />


<div class="mx-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4 position-relative">
                <div class="b-left"></div>
                <div class="card-body">
                    <div class="d-flex align-items-center gap-3">
                        <div class="fw-bold text-uppercase" style="font-size: .7em;">
                            Newborn Name:
                        </div>
                        <div class="h4 fw-bold mb-0">
                            Maria Pepito
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 position-relative">
                <div class="b-left"></div>
                <div class="card-body">
                    <div class="d-flex align-items-center gap-3">
                        <div class="fw-bold text-uppercase" style="font-size: .7em;">
                            Newborn ID:
                        </div>
                        <div class="h4 fw-bold mb-0">
                            NB-101
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="d-flex justify-content-end mb-3">
            <a asp-controller="" asp-action="" class="btn btn-pink">
                <i class="fas fa-plus"></i>
                <span>Add Services</span>
            </a>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title m-0">Details</h5>
                    <div class="d-flex align-items-center gap-4">
                        <a class="text-dark" href="#">
                            <i class="fa-solid fa-list" style="font-size: 20px;"></i>
                        </a>
                        <a class="text-success" href="#">
                            <i class="fa-solid fa-pen-to-square" style="font-size: 20px;"></i>
                        </a>
                    </div>
                </div>

                <div class="card-body c-details">
                    <div class="d-flex flex-column mb-4">
                        <div class="fw-bold text-uppercase" style="font-size: .7em;">
                            Address:
                        </div>
                        <div class="h5 fw-bold mb-0">
                            Talamban, Cebu
                        </div>
                    </div>

                    <div class="d-flex flex-column mb-4">
                        <div class="fw-bold text-uppercase" style="font-size: .7em;">
                            Age:
                        </div>
                        <div class="h5 fw-bold mb-0">
                            24
                        </div>
                    </div>

                    <div class="d-flex flex-column mb-4">
                        <div class="fw-bold text-uppercase" style="font-size: .7em;">
                            Gender:
                        </div>
                        <div class="h5 fw-bold mb-0">
                            Female
                        </div>
                    </div>
                    <div class="d-flex flex-column mb-4">
                        <div class="fw-bold text-uppercase" style="font-size: .7em;">
                            BIRTHDATE:
                        </div>
                        <div class="h5 fw-bold mb-0">
                            06/10/2002
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-9 mb-4">
            <div class="card mb-5">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title m-0">Newborn Screening Test</h5>
                    @* <h5 class="card-title m-0" style="color: var(--pink)">OPD Visit</h5> *@
                    @* <div>
                        <a class="text-success" href="#">
                        <i class="fas fa-plus" style="color: var(--pink); font-size: 24px;"></i>
                        </a>
                    </div> *@

                    <div>
                        <a class="text-success" href="#">
                            <i class="fas fa-plus" style="color: var(--pink); font-size: 24px;"></i>
                        </a>
                    </div>
                </div>

                <div class="card-body">
                    <div class=" table-responsive">
                        <table class="table table-striped table-datatable">
                            <thead>
                                <tr>
                                    <th>Admission No#</th>
                                    <th>Services</th>
                                    <th>Date Admitted</th>
                                    <th>Date Discharge</th>
                                    <th>Ward Number</th>
                                    <th>Notes</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>ADO01</td>
                                        <td>Delivery</td>
                                        <td>10/10/2024</td>
                                        <td>10/11/2024</td>
                                        <td>Ward 1</td>
                                        <td>Test</td>
                                        <td>
                                            <div class="d-flex align-items-center justify-content-center gap-4">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-solid fa-list" style="font-size: 24px;"></i>
                                                </a>
                                                <a class="text-success" href="#">
                                                    <i class="fa-solid fa-pen-to-square" style="font-size: 24px;"></i>
                                                </a>
                                                <a class="text-danger" href="#">
                                                    <i class="fa-solid fa-trash-can" style="font-size: 24px;"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title m-0">Newborn Hearing Test</h5>

                    <div>
                        <a class="text-success" href="#">
                            <i class="fas fa-plus" style="color: var(--pink); font-size: 24px;"></i>
                        </a>
                    </div>
                </div>

                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-striped table-datatable">
                            <thead>
                                <tr>
                                    <th>OPD No#</th>
                                    <th>Services</th>
                                    <th>Date Visit</th>
                                    <th>Date Visit Out</th>
                                    <th>Reason For Visit</th>
                                    <th>Notes</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>OPD01</td>
                                        <td>Prenatal</td>
                                        <td>05/04/2024 1:00PM</td>
                                        <td>05/04/2024 4:00PM</td>
                                        <td>Prenatal Check up</td>
                                        <td>Need to rest, avoid stress</td>
                                        <td>
                                            <div class="d-flex align-items-center justify-content-center gap-4">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-solid fa-list" style="font-size: 24px;"></i>
                                                </a>

                                                <a class="text-success" href="#">
                                                    <i class="fa-solid fa-pen-to-square" style="font-size: 24px;"></i>
                                                </a>

                                                <a class="text-danger" href="#">
                                                    <i class="fa-solid fa-trash-can" style="font-size: 24px;"></i>
                                                </a>

                                            </div>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>