@model NatalCare.Models.DTOs.BillingDTO

@{
    ViewData["Title"] = "Generate Invoice";
    Layout = "_UserLayout";
}
<style>
    .form-check-input:checked {
        background-color: #FF8EA6;
        border-color: #FF8EA6;
    }

    .discounted:hover {
        cursor: pointer;
    }
</style>
<!-- NAVBAR -->
<partial name="Partial/_Navbar" />

<div class="mx-5">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center bg-pink">
            <h5 class="card-title my-2">NEW INVOICE</h5>
        </div>
        <div class="card-body m-4">
            <form controller="Billing" action="CreateInvoice" method="POST"> 
                <div class="row form-group" style="position:relative;">
                    <div validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group col-md-4 mb-3">
                        <label for="FirstName" class="control-label">Patient Name</label>
                        <input type="hidden" asp-for="PatientName" name="PatientName" id="patientIdHidden" />
                        <span asp-validation-for="PatientName" class="text-danger"></span>
                        <input class="form-control"  placeholder="Enter Patient Name" id="patientNameInput" autocomplete="off" />

                    </div>

<ul class="searchResultsDiv" >
    @* AJAX *@
</ul>
                    <div class="form-group col-md-4 mb-3">
                        <label for="MiddleName" class="control-label">Staff Name</label>
                        <select asp-for="StaffName" class="form-control" asp-items="ViewBag.staffList" name="StaffName">
                        </select>
                        <span asp-validation-for="StaffName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4 mb-3">
                        <label for="LastName" class="control-label">Bill Date</label>
                        <input asp-for="BillDate" class="form-control" type="date" name="BillDate" />
                        <span asp-validation-for="BillDate" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4 mb-3">
                        <label for="Birthdate" class="control-label">Due Date</label>
                        <input asp-for="DueDate" class="form-control" type="date" name="DueDate" />
                        <span asp-validation-for="DueDate" class="text-danger"></span>
                    </div>

                    <div class="form-group col-12 ">
                        <div class="d-flex align-items-center justify-content-end gap-3">
                            <button class="btn btn-pink addRow" >
                                <i class="fas fa-plus"></i>
                                <span>Add Row</span>
                            </button>
                            <button class="btn btn-pink addItem" data-bs-toggle="modal" data-bs-target="#addItemModal">
                                <i class="fas fa-plus"></i>
                                <span>Add Item</span>
                            </button>
                            <button class="btn btn-pink addItem" data-bs-toggle="modal" data-bs-target="#addServicesModal">
                                <i class="fas fa-plus"></i>
                                <span>Add Services</span>
                            </button>
                        </div>
                    </div>

                </div>

                <hr />

                <div class="row d-flex scrollableTable" style="height:24vh; overflow:auto; scrollbar-width:thin;" id="scrollableTable">
                    <div class="h-100 w-100">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Item/Services</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Amount</th>
                                    <th>Philhealth Covered</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="createInvoiceTBody" id="tableBody">
                                @* AJAX *@

                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />

                <div class="row form-group">

                    <div class="form-group col-md-5 mb-3">
                        <label for="Notes" class="control-label fw-bold">Notes:</label>
                        <textarea asp-for="Notes" class="form-control" rows="4" cols="50" name="Notes"></textarea>
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-7 row">

                        <div class="form-group col-5  d-flex flex-column align-items-end">
                            <label for="MiddleName" class="control-label my-2 fw-bold">Subtotal:</label>
                            <label for="MiddleName" class="control-label my-2 fw-bold">Philhealth Total:</label>
                            <label for="MiddleName" class="control-label my-2 fw-bold">Is "%" Discount:</label>
                            <label for="MiddleName" class="control-label my-2 fw-bold">Dicount %:</label>
                        </div>

                        <div class="form-group col-7 mb-3  d-flex flex-column align-items-start">

            <p class=" mt-1 fw-bold" id="subTotalShow">₱0.00</p>
            <p class=" mt-1 fw-bold" id="philHealthTotalShow">₱0.00</p>

            <input type="hidden" asp-for="SubTotal" name="SubTotal" id="subTotalHidden"/>
            <input type="hidden" asp-for="PhilHeathTotal" name="PhilHeathTotal" id="philHealthTotalHidden"/>


                            <input class="form-check-input discounted mb-3 fw-bold" type="checkbox" id="isDiscounted" style="width: 25px;">

                            <input asp-for="Discount" name="Discount" class="form-control mb-3 fw-bold" type="number" id="discount" disabled />

            <p class="align-self-center fw-bold" id="totalAmountShow">Total Amount: ₱0.00</p>
            <input type="hidden" asp-for="TotalAmount" name="TotalAmount" id="totalAmountHidden"/>

                        </div>
                    </div>

                    <div class="form-group row-md-12 d-flex justify-content-end align-items-center">


                        <button class="btn btn-success mx-2" type="submit" name="action" value="MakePayment">
                            <i class="fas fa-plus"></i>
                            <span>Make Payment</span>
                        </button>

                        <button class="btn btn-primary mx-2" type="submit" name="action" value="SaveAndPayLater">
                            <i class="fas fa-check"></i>
                            <span>Save & Pay Later</span>
                        </button>

                        <a class="btn btn-dark mx-2" asp-action="InvoiceList" asp-controller="Billing">
                            <i class="fas fa-close"></i>
                            <span>Cancel</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



                                @* ADD ITEM *@
<div class="modal fade" aria-labelledby="staticBackdropLabel" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">

        <div class="modal-content" style="height: 440px; color: #425833;  font-family: 'Montserrat', sans-serif; border-radius:.9rem;">

            <div class="modal-header bg-pink" style="height:60px; display:flex; border-radius:.5rem .5rem 0 0 ;">

                <div class="modal-headerDiv1 " style="width:100%; display:flex;justify-content:center;align-items:center;">
                    <h4 style="color:white;">ADD ITEM</h4>
                </div>


            </div>

            <div class="modal-body addItemModalBody">
                <div class="addItemModalBodyDiv1">
                    <label>Item Name : </label>
                    <input type="text" class="form-control " autocomplete="off" id="addItemName" />

                </div>

                <div class="addItemModalBodyDiv1">
                    <label>Description : </label>
                    <textarea class="form-control form-text " id="addItemDescription" placeholder="Optional..."></textarea>

                </div>

                <div class="addItemModalBodyDiv1">
                    <label>Price : ₱</label>
                    <input type="number" class="form-control " id="addItemPrice" />

                </div>

                <button type="submit" id="addItemSubmitBtn" class="btn btn-success " style="margin-top:1rem" disabled data-bs-dismiss="modal"><i class="fa fa-plus" aria-hidden="true"></i> ADD</button>

            </div>
        </div>
    </div>
</div>


                                @* ADD SERVICES *@
<div class="modal fade" aria-labelledby="staticBackdropLabel" id="addServicesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">

        <div class="modal-content" style="height: 440px; color: #425833;  font-family: 'Montserrat', sans-serif; border-radius:.9rem;">

            <div class="modal-header bg-pink" style="height:60px; display:flex; border-radius:.5rem .5rem 0 0 ;">

                <div class="modal-headerDiv1 " style="width:100%; display:flex;justify-content:center;align-items:center;">
                    <h4 style="color:white;">ADD SERVICES</h4>
                </div>

            </div>

            <div class="modal-body addItemModalBody">
                <div class="addItemModalBodyDiv1">
                    <label>Service Name : </label>
                    <input type="text" class="form-control " id="addServiceName" />

                </div>

                <div class="addItemModalBodyDiv1">
                    <label>Description : </label>
                    <textarea class="form-control" id="addServiceDescription" placeholder="Optional..."></textarea>

                </div>

                <div class="addItemModalBodyDiv1">
                    <label>Price : ₱</label>
                    <input type="number" class="form-control " id="addServicePrice" />

                </div>

                <button type="submit" id="addServicesSubmitBtn" class="btn btn-success " style="margin-top:1rem " disabled data-bs-dismiss="modal"><i class="fa fa-plus" aria-hidden="true"></i> ADD</button>

            </div>
        </div>
    </div>
</div>


                              @* DESCRIPTION *@
<div class="modal fade" aria-labelledby="staticBackdropLabel" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">

        <div class="modal-content" style="height: 440px; color: #FC7995;  font-family: 'Montserrat', sans-serif; border-radius:.9rem;">

            <div class="modal-header bg-pink" style="height:60px; display:flex; border-radius:.5rem .5rem 0 0 ;">

                <div class="modal-headerDiv1 " style="width:100%; display:flex;justify-content:center;align-items:center;">
                    <h4 style="color:white;">DESCRIPTION</h4>
                </div>

            </div>

            <div class="modal-body descriptionModalBody">

                <div class="descriptionModalBodyDiv1">
                    <h3 id="descName"></h3>
                </div>
                <div class="descriptionModalBodyDiv2">
                    <h5 id="desc" ></h5>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}