<link rel="stylesheet" href="~/css/billing.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Garet:wght@400&display=swap" rel="stylesheet">

<div class="out">
    <div class="printDiv1">

        <div class="printDiv1In1">
         
            <div class="printDiv1In1Div1">
                <img src="/img/a.png" style="height:auto; width:70px;" />
                <img src="/img/paanakantopLogo.png" style="height:auto; width:250px;" />
            </div>

            <div class="printDiv1In1Div2">
                <div class="printDiv1In1Div2Div1">

                    <div class="printDiv1In1Div2Div1Div1">
                        <p style="margin-bottom:0;">Invoice No :</p>
              
                    </div>
                    <div class="printDiv1In1Div2Div1Div2">
                        <p style="margin-bottom:0;">1</p>
                    </div>


                </div>
                <div class="printDiv1In1Div2Div2">
                    <div class="printDiv1In1Div2Div1Div1">
                        <p style="margin-bottom:0;">Invoice Date :</p>

                    </div>
                    <div class="printDiv1In1Div2Div1Div2">
                        <p style="margin-bottom:0;">November 18, 2024</p>
                    </div>
                </div>
                <div class="printDiv1In1Div2Div3">
                    <div class="printDiv1In1Div2Div1Div1">
                        <p style="margin-bottom:0;">Due Date :</p>

                    </div>
                    <div class="printDiv1In1Div2Div1Div2">
                        <p style="margin-bottom:0;">November 28, 2024</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="printDiv1In2">
            <div class="printDiv1In1Div1">
                <h1>INVOICE</h1>
            </div>

            <div class="printDiv1In1Div2">
                <div class="printDiv1In1Div2Div1">

                    <div class="printDiv1In1Div2Div1Div1">
                        <p style="margin-bottom:0;">Invoice No :</p>

                    </div>
                    <div class="printDiv1In1Div2Div1Div2">
                        <p style="margin-bottom:0;">1</p>
                    </div>


                </div>
                <div class="printDiv1In1Div2Div2">
                    <div class="printDiv1In1Div2Div1Div1">
                        <p style="margin-bottom:0;">Invoice Date :</p>

                    </div>
                    <div class="printDiv1In1Div2Div1Div2">
                        <p style="margin-bottom:0;">November 18, 2024</p>
                    </div>
                </div>
                <div class="printDiv1In1Div2Div3">
                    <div class="printDiv1In1Div2Div1Div1">
                        <p style="margin-bottom:0;">Due Date :</p>

                    </div>
                    <div class="printDiv1In1Div2Div1Div2">
                        <p style="margin-bottom:0;">November 28, 2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="printDiv2">

    </div>
    <div class="printDiv3">
        <div class="printDiv3In1">

        </div>
        <div class="printDiv3In2">

        </div>
    </div>
</div>