@model NatalCare.Models.Entities.Patients

<div class="col-md-9">
    <div class="card card-selected mb-5">
        <div class="card-body">
            <h5 class="card-title mb-4">Medical Records</h5>
            <!-- Tabs for Services -->
            <ul class="nav nav-tabs" id="patientTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="prenatal-tab" data-bs-toggle="tab" href="#prenatal" role="tab">Prenatal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="delivery-tab" data-bs-toggle="tab" href="#delivery" role="tab">Delivery</a>
                </li>
               @*  <li class="nav-item">
                    <a class="nav-link" id="family-planning-tab" data-bs-toggle="tab" href="#family-planning" role="tab">Family Planning</a>
                </li> *@
                <li class="nav-item">
                    <a class="nav-link" id="screening-tab" data-bs-toggle="tab" href="#screening" role="tab">Newborn Screening</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="hearing-tab" data-bs-toggle="tab" href="#hearing" role="tab">Newborn Hearing</a>
                </li>
            </ul>

            <!-- Tab Content -->
            <div class="tab-content mt-4">
                <!-- Prenatal Tab -->
                <div class="tab-pane fade show active" id="prenatal" role="tabpanel">
                    @await Component.InvokeAsync("PrenatalRecords", new { patientId = Model.PatientID })
                </div>

                <!-- Delivery Tab -->
                <div class="tab-pane fade" id="delivery" role="tabpanel">
                    @await Component.InvokeAsync("DeliveryRecords", new { patientId = Model.PatientID })
                </div>


@*                 <div class="tab-pane fade" id="delivery" role="tabpanel">
                    <h6 class="px-2">Delivery Records</h6>
                    <div class="d-flex justify-content-end my-3 gap-3">
                        <a asp-controller="" asp-action="" class="btn btn-sm btn-pink">
                            <i class="fas fa-plus"></i>
                            <span>Add New Delivery Record</span>
                        </a>
                        <a asp-controller="" asp-action="" class="btn btn-sm btn-outline-secondary">
                            <i class="fas fa-trash"></i>
                            <span>Deleted History Record</span>
                        </a>
                    </div>

                    <div class="d-flex align-items-center gap-2">
                        <input type="text" placeholder="Search record..." class="form-control filterInput" style="width: 350px;">
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Case No#</th>
                                    <th>Date Admitted</th>
                                    <th>Date Discharged</th>
                                    <th>Ward No#</th>
                                    <th>Status</th>
                                    <th>Notes</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Data -->
                                <tr>
                                    <td>01</td>
                                    <td>Aug 20 2024 10 AM</td>
                                    <td>Aug 21 2024 11 AM</td>
                                    <td>Ward 1</td>
                                    <td>
                                        <span class="badge bg-success">In-Labor</span>
                                    </td>
                                    <td>Normal delivery</td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center gap-2">
                                            <a class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-list"></i>
                                                <span>Details</span>
                                            </a>
                                            <a class="btn btn-sm btn-outline-pink d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                                <span>Edit</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> *@

              @*   <!-- Family Planning Tab -->
                <div class="tab-pane fade" id="family-planning" role="tabpanel">
                    @await Component.InvokeAsync("FamilyPlanningRecords", new { patientId = Model.PatientID })
                </div> *@

                <!-- Screening Tab -->
                <div class="tab-pane fade" id="screening" role="tabpanel">
                    @await Component.InvokeAsync("ScreeningsRecords", new { patientId = Model.PatientID })
                </div>

                <!-- Hearing Tab -->
                <div class="tab-pane fade" id="hearing" role="tabpanel">
                    @await Component.InvokeAsync("HearingRecords", new { patientId = Model.PatientID })   
                </div>

            </div>
        </div>
    </div>
</div>
