<div class="col-md-9">
    <div class="card card-selected mb-5">
        <div class="card-body">
            <h5 class="card-title mb-4">Medical Records</h5>

            <!-- Tabs for Services -->
            <ul class="nav nav-tabs" id="patientTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="prenatal-tab" data-bs-toggle="tab" href="#prenatal" role="tab">Prenatal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="delivery-tab" data-bs-toggle="tab" href="#delivery" role="tab">Delivery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="family-planning-tab" data-bs-toggle="tab" href="#family-planning" role="tab">Family Planning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="screening-tab" data-bs-toggle="tab" href="#screening" role="tab">Newborn Screening</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="hearing-tab" data-bs-toggle="tab" href="#hearing" role="tab">Newborn Hearing</a>
                </li>
            </ul>

            <!-- Tab Content -->
            <div class="tab-content mt-4">
                <!-- Prenatal Tab -->
                <div class="tab-pane fade show active" id="prenatal" role="tabpanel">
                    <h6 class="px-2">Prenatal Records</h6>
                    <div class="d-flex justify-content-end my-3">
                        <a asp-controller="" asp-action="" class="btn btn-sm btn-pink" data-bs-toggle="modal" data-bs-target="#prenatalAddModal">
                            <i class="fas fa-plus"></i>
                            <span>Add New</span>
                        </a>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <input type="text" placeholder="Search record..." class="form-control filterInput" style="width: 350px;">
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Case No#</th>
                                    <th>Date Visit</th>
                                    <th>GRAVIDA</th>
                                    <th>PARA</th>
                                    <th>ABORTION</th>
                                    <th>STILL BIRTH</th>
                                    <th>LMP</th>
                                    <th>EDC</th>
                                    <th>H.R CODE</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Data -->
                                <tr>
                                    <td>01</td>
                                    <td>Aug 12 2024	</td>
                                    <td>3</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>Jan 10 2024	</td>
                                    <td>Oct 17 2024</td>
                                    <td>0021</td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center gap-2">
                                            <a asp-action="PrenatalRecord" asp-route-id="@Model.PatientID" class="btn btn-sm btn-outline-pink d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-list"></i>
                                                <span>Record</span>
                                            </a>
                                            <a class="btn btn-sm btn-outline-pink d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                                <span>Edit</span>
                                            </a>
                                            <a class="btn btn-sm btn-outline-danger d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-trash"></i>
                                                <span>Delete</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td>Aug 12 2024	</td>
                                    <td>3</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>Jan 10 2024	</td>
                                    <td>Oct 17 2024</td>
                                    <td>0021</td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center gap-2">
                                            <a class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-list"></i>
                                                <span>Record</span>
                                            </a>
                                            <a class="btn btn-sm btn-outline-pink d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                                <span>Edit</span>
                                            </a>
                                            <a class="btn btn-sm btn-outline-danger d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-trash"></i>
                                                <span>Delete</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Delivery Tab -->
                <div class="tab-pane fade" id="delivery" role="tabpanel">
                    <h6 class="px-2">Delivery Records</h6>
                    <div class="d-flex justify-content-end my-3">
                        <a asp-controller="" asp-action="" class="btn btn-sm btn-pink">
                            <i class="fas fa-plus"></i>
                            <span>Add New</span>
                        </a>
                    </div>

                    <div class="d-flex align-items-center gap-2">
                        <input type="text" placeholder="Search record..." class="form-control filterInput" style="width: 350px;">
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No#</th>
                                    <th>Date Admitted</th>
                                    <th>Date Discharged</th>
                                    <th>Ward No#</th>
                                    <th>Status</th>
                                    <th>Notes</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Data -->
                                <tr>
                                    <td>01</td>
                                    <td>Aug 20 2024 10 AM</td>
                                    <td>Aug 21 2024 11 AM</td>
                                    <td>Ward 1</td>
                                    <td>
                                        <span class="badge bg-success">In-Labor</span>
                                    </td>
                                    <td>Normal delivery</td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center gap-2">
                                            <a class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-list"></i>
                                                <span>Details</span>
                                            </a>
                                            <a class="btn btn-sm btn-outline-pink d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                                <span>Edit</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Family Planning Tab -->
                <div class="tab-pane fade" id="family-planning" role="tabpanel">
                    <h6 class="px-2">Family Planning Records</h6>
                    <div class="d-flex justify-content-end my-3">
                        <a asp-controller="Patient" asp-action="AddFamilyPlanning" class="btn btn-sm btn-pink">
                            <i class="fas fa-plus"></i>
                            <span>Add New</span>
                        </a>
                    </div>

                    <div class="d-flex align-items-center gap-2">
                        <input type="text" placeholder="Search record..." class="form-control filterInput" style="width: 350px;">
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No#</th>
                                    <th>Method Type</th>
                                    <th>No of Children</th>
                                    <th>Name of Spouse</th>
                                    <th>Date Visit</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Data -->
                                <tr>
                                    <td>01</td>
                                    <td>Pills</td>
                                    <td>4</td>
                                    <td>clerk</td>
                                    <td>Aug 20 2024 10 AM</td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center gap-2">
                                            <a class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-list"></i>
                                                <span>Details</span>
                                            </a>
                                            <a class="btn btn-sm btn-outline-pink d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                                <span>Edit</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td>Inject</td>
                                    <td>3</td>
                                    <td>Reymondo</td>
                                    <td>Aug 20 2024 10 AM</td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center gap-2">
                                            <a class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-list"></i>
                                                <span>Details</span>
                                            </a>
                                            <a class="btn btn-sm btn-outline-pink d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                                <span>Edit</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- "No record found" message row -->
                                <tr class="no-record-found" style="display: none;">
                                    <td colspan="6" class="text-center">No record found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Form/Table -->
                </div>

                <!-- Screening Tab -->
                <div class="tab-pane fade" id="screening" role="tabpanel">
                    <h6 class="px-2">Screening Records</h6>
                    <div class="d-flex justify-content-end my-3">
                        <a asp-controller="" asp-action="" class="btn btn-sm btn-pink">
                            <i class="fas fa-plus"></i>
                            <span>Add New</span>
                        </a>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <input type="text" placeholder="Search record..." class="form-control filterInput" style="width: 350px;">
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Screening No#</th>
                                    <th>Date</th>
                                    <th>Baby Name</th>
                                    <th>Test Typee</th>
                                    <th>Results</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Data -->
                                <tr>
                                    <td>01</td>
                                    <td>Aug 23 2024</td>
                                    <td>Baby A</td>
                                    <td>Blood Test</td>
                                    <td>Normal</td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center gap-2">
                                            <a class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-list"></i>
                                                <span>Details</span>
                                            </a>
                                            <a class="btn btn-sm btn-outline-pink d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                                <span>Edit</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr> 
                                <!-- "No record found" message row -->
                                <tr class="no-record-found" style="display: none;">
                                    <td colspan="6" class="text-center">No record found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Form/Table -->
                </div>

                <!-- Hearing Tab -->
                <div class="tab-pane fade" id="hearing" role="tabpanel">
                    <h6 class="px-2">Hearing Test Records</h6>
                    <div class="d-flex justify-content-end my-3">
                        <a asp-controller="" asp-action="" class="btn btn-sm btn-pink">
                            <i class="fas fa-plus"></i>
                            <span>Add New</span>
                        </a>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <input type="text" placeholder="Search record..." class="form-control filterInput" style="width: 350px;">
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Hearing Test No##</th>
                                    <th>Date</th>
                                    <th>Baby Name</th>
                                    <th>Test Result</th>
                                    <th>Notes</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Data -->
                                <tr>
                                    <td>01</td>
                                    <td>Aug 23 2024</td>
                                    <td>Baby A</td>
                                    <td>Passed</td>
                                    <td>Left ear clear</td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center gap-2">
                                            <a class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-list"></i>
                                                <span>Details</span>
                                            </a>
                                            <a class="btn btn-sm btn-outline-pink d-flex align-items-center justify-content-center gap-1">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                                <span>Edit</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- "No record found" message row -->
                                <tr class="no-record-found" style="display: none;">
                                    <td colspan="6" class="text-center">No record found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Form/Table -->
                </div>
            </div>
        </div>
    </div>
</div>




<!--Prenatal Modal-->
<div class="modal fade" id="prenatalAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <h5 class="modal-title">Add Prenatal Record</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <form id="AddUserForm" method="POST">
                    <div class="row form-group">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <div class="form-group col-md-6 mb-3">
                            <label for="gravida" class="control-label">GRAVIDA</label>
                            <input id="gravida" class="form-control" placeholder="Enter Gravida" />
                        </div>


                        <div class="form-group col-md-6 mb-3">
                            <label for="para" class="control-label">PARA</label>
                            <input id="para" class="form-control" placeholder="Enter Para" />
                        </div>

                        <div class="form-group col-md-6 mb-3">
                            <label for="abortion" class="control-label">ABORTION</label>
                            <input id="abortion" class="form-control" placeholder="Enter Abortion" />
                        </div>

                        <div class="form-group col-md-6 mb-3">
                            <label for="stillbirth" class="control-label">STILL BIRTH</label>
                            <input id="stillbirth" class="form-control" placeholder="Enter Still Birth" />
                        </div>

                        <div class="form-group col-md-6 mb-3">
                            <label for="lmp" class="control-label">LMP</label>
                            <input id="lmp" class="form-control" placeholder="Enter LMP" />
                        </div>

                        <div class="form-group col-md-6 mb-3">
                            <label for="edc" class="control-label">EDC</label>
                            <input id="edc" class="form-control" placeholder="Enter EDC" />
                        </div>

                        <div class="form-group col-md-6 mb-3">
                            <label for="hrCode" class="control-label">H.R. Code</label>
                            <input id="hrCode" class="form-control" placeholder="Enter H.R Code" />
                        </div>

                        <div class="mt-3 mb-3 text-end">
                            <button type="submit" class="btn btn-pink" id="addBtn">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                </div>
                    </form>
            </div>
        </div>
    </div>
</div>
<!--Delivery Modal-->

<!--Family Planning Modal-->
@* <div class="modal fade" id="FPAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Family Planning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="AddUserForm" method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="UserName" class="form-control" placeholder="Sample" />
                        <label asp-for="UserName">Name</label>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Sample" />
                        <label asp-for="Email">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Sample" />
                        <label asp-for="Password" id="passwordLabel">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Sample" />
                        <label asp-for="ConfirmPassword" id="confirmPasswordLabel">Confirm Password</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <select asp-for="Role" asp-items="@Model.RoleList" class="form-select p-3 text-muted">
                            <option disabled selected>Select Role</option>
                        </select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>

                    <div class="mt-3 mb-3 text-end">
                        <button type="submit" class="btn btn-primary" id="addBtn">Add</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> *@

<!--Newborn Screening Modal-->
<!--Newborn Hearing Modal-->


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get the current patient ID
        var currentPatientID = document.getElementById('patient-id').value;

        // Get the stored patient ID and active tab from localStorage
        var storedPatientID = localStorage.getItem('currentPatientID');
        var activeTab = localStorage.getItem('activeTab');

        // Check if the patient has changed
        if (currentPatientID !== storedPatientID) {
            // Reset the tab to Prenatal if the patient is different
            localStorage.removeItem('activeTab');
            localStorage.setItem('currentPatientID', currentPatientID);
            activeTab = '#prenatal'; // Default tab
        }

        // Show the active tab
        if (activeTab) {
            var tab = new bootstrap.Tab(document.querySelector(`a[href="${activeTab}"]`));
            tab.show();
        }

        // Save the active tab and patient ID to localStorage when a tab is clicked
        var tabLinks = document.querySelectorAll('.nav-tabs .nav-link');
        tabLinks.forEach(function (tabLink) {
            tabLink.addEventListener('shown.bs.tab', function (event) {
                var activeTab = event.target.getAttribute('href');
                localStorage.setItem('activeTab', activeTab);
                localStorage.setItem('currentPatientID', currentPatientID);
            });
        });

        // FILTERING
        $('.filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            var rows = $('tbody tr:not(.no-record-found)');
            var noRecordRow = $('.no-record-found');

            // Filter rows
            var visibleRows = rows.filter(function () {
                return $(this).text().toLowerCase().indexOf(value) > -1;
            }).toggle(true);

            // Hide rows that do not match
            rows.not(visibleRows).toggle(false);

            // If no rows are visible, show the "No record found" message
            if (visibleRows.length === 0) {
                noRecordRow.show();
            } else {
                noRecordRow.hide();
            }
        });
    });
</script>
