@model NatalCare.Models.Entities.Patients

<div class="col-md-9">
    <div id="medicalCard" class="card card-selected mb-5" data-patient-id="@Model.PatientID">
        <div class="card-body">
            <h5 class="card-title mb-4">Medical Records</h5>
            <!-- Tabs for Services -->
            <ul class="nav nav-tabs" id="patientTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="prenatal-tab" data-bs-toggle="tab" href="#prenatal" role="tab">Prenatal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="delivery-tab" data-bs-toggle="tab" href="#delivery" role="tab">Delivery</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" id="screening-tab" data-bs-toggle="tab" href="#screening" role="tab">Newborn Screening</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="hearing-tab" data-bs-toggle="tab" href="#hearing" role="tab">Newborn Hearing</a>
                </li>
            </ul>

            <!-- Tab Content -->
            <div class="tab-content mt-4">
                <!-- Prenatal Tab -->
                <div class="tab-pane fade show active" id="prenatal" role="tabpanel">
                </div>

                <!-- Delivery Tab -->
                <div class="tab-pane fade" id="delivery" role="tabpanel">
                </div>
            

                <!--  Screening Tab  -->
                <div class="tab-pane fade" id="screening" role="tabpanel">
                </div>

                <!-- Hearing Tab -->
                <div class="tab-pane fade" id="hearing" role="tabpanel">
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Retrieve patientId from the card's data attribute
        var patientId = $('#medicalCard').data('patient-id');
        // Listen for tab changes
        $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
            var tabId = $(e.target).attr('href'); // Get the tab pane ID
            var url = ''; 

            switch (tabId) {
                case '#prenatal':
                    url = '/Prenatal/PrenatalRecords?patientId=' + patientId;
                    break;
                case '#delivery':
                    url = '/Delivery/DeliveryRecords?patientId=' + patientId;
                    break;
                case '#screening':
                    url = '/NewbornScreening/ScreeningRecords?patientId=' + patientId;
                    break;
                case '#hearing':
                    url = '/NewbornHearing/HearingRecords?patientId=' + patientId;
                    break;
            }

            // Load content dynamically
            if (url) {
                $.get(url, function (data) {
                    $(tabId).html(data); // Inject the retrieved content into the tab pane
                });
            }
        });

        $('a[data-bs-toggle="tab"].active').trigger('shown.bs.tab');
    });

</script>







@*  <li class="nav-item">
        <a class="nav-link" id="family-planning-tab" data-bs-toggle="tab" href="#family-planning" role="tab">Family Planning</a>
    </li> *@
@*   <!-- Family Planning Tab -->
    <div class="tab-pane fade" id="family-planning" role="tabpanel">
        @await Component.InvokeAsync("FamilyPlanningRecords", new { patientId = Model.PatientID })
    </div> *@