<div class="col-md-9">
    <div class="card card-selected mb-5">
        <div class="card-body">
            <h5 class="card-title mb-4">Payments</h5>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Invoice No</th>
                            <th>Bill Amount</th>
                            <th>Philhealth Covered</th>
                            <th>Excess Bill</th>
                            <th>Paid Amount</th>
                            <th>Payment Method</th>
                            <th>Status</th>
                            <th>Date Paid</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>INV01</td>
                            <td>11,900</td>
                            <td>10,000</td>
                            <td>900</td>
                            <td>900</td>
                            <td>Cash</td>
                            <td class="text-success">Paid</td>
                            <td>05/04/2024</td>
                            <td>
                                <div class="d-flex align-items-center justify-content-center gap-4">
                                    <a class="text-secondary" href="information">
                                        <i class="fa-solid fa-eye" style="font-size: 24px;"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>