@{
    ViewData["Title"] = "Admission Records";
    Layout = "_UserLayout";
}

<!-- NAVBAR -->
<partial name="Partial/_Navbar" />

<div class="mx-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow py-2 card-selected">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1" style="font-size: 1em; color: var(--dark);">
                                Today Admitted
                            </div>
                            <div class="h4 fw-bold my-3">
                                @(ViewBag.TodayRecord ?? 0)
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-info">
                                <i class="fas fa-clock text-white" style="font-size: 20px;"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow py-2 card-selected">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1" style="font-size: 1em; color: var(--dark);">
                                Monthly Admitted
                            </div>
                            <div class="h4 fw-bold my-3">
                                @(ViewBag.MonthlyRecord ?? 0)
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-warning">
                                <i class="fas fa-calendar" style="font-size: 20px;"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-4 mt-2 d-flex align-items-center justify-content-end gap-3">
        <a class="btn btn-pink d-flex align-items-center gap-2" asp-controller="Admission" asp-action="Create">
            <i class="fas fa-baby" style="font-size: 18px;"></i>
            <strong>Add Admit Patient</strong>
        </a>
    </div>


    <div class="card shadow-sm card-selected">
        <div class="card-body">
            <div class="table-responsive">
                <table id="newbornTable" class="table table-hover table-striped table-datatable">
                    <thead class="border-bottom-2">
                        <tr>
                            <th>Case No</th>
                            <th>Patient Name</th>
                            <th>Age</th>
                            <th>Date & Time Admitted</th>
                            <th>Patient Status</th>
                            <th>Date Added</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>P-01</td>
                            <td>Suarez Suarez Pepito</td>
                            <td>21</td>
                            <td>Nov 22, 2024 3 PM</td>
                            <td>In Labor</td>
                            <td>05/04/2024</td>
                            <td>
                                <div class="d-flex align-items-center justify-content-center gap-2">
                                    <a class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center gap-1" asp-controller="Newborn" asp-action="Information" asp-route-id="">
                                        <i class="fa-solid fa-list"></i>
                                        <span>Record</span>
                                    </a>
                                    <button class="btn btn-sm btn-outline-danger dlt-Btn">
                                        <i class="fa-solid fa-trash"></i>
                                        <span>Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>




<script>

    document.addEventListener("DOMContentLoaded", function () {

    });

</script>




