@model NatalCare.Models.Entities.Newborn

@{
    ViewData["Title"] = "Print Newborn Information";
}
<style>
    label, input {
        font-size: 14px;
    }

</style>

<div class="m-3">
    <div class="text-center mb-4" style="cursor: pointer;">
        <img class="img-fluid" src="/img/logo.png" width="180" />
    </div>

    <h5 class="text-center mb-3">Newborn Service Record</h5>

</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // PrintForm();
    });

    function PrintForm() {
        var patId = $("#patId").val();
        window.onafterprint = function () {
            window.location.href = "/Patient/Information?id=" + patId;
        };

        window.print();
    }
</script>