@using NatalCare.Models.DTOs
@model LoginDTO

@{
    ViewData["Title"] = "Login";
}

<div class="row vh-100 g-0">
    <!--Right-->
    <div class="col-lg-6">
        <div class="row align-items-center justify-content-center h-100 g-0 px-4 px-sm-0">
            <div class="col col-sm-6 col-lg-7 col-xl-6">
                <a asp-controller="Account" asp-action="Logout" class="d-flex justify-content-center mb-4">
                    <img src="~/img/logo.png" alt="Logo"/>
                </a>
                <div class="text-center mb-5">
                    <h3 class="fw-bold">Welcome Back!</h3>
                    <p class="text-secondary">Please Log in to your account.</p>
                </div>

                <form asp-controller="Account" asp-action="Login" method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="mb-3">
                        <div class="input-group ">
                            <label asp-for="Email" class="input-group-text" style="cursor:pointer">
                                <i class="bi bi-person"></i>
                            </label>
                            <input asp-for="Email" class="form-control form-control-lg fs-6" placeholder="Username" />
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                    <div class="input-group">
                        <label asp-for="Password" class="input-group-text" style="cursor:pointer" >
                            <i class="bi bi-lock"></i>
                        </label>
                        <input asp-for="Password" class="form-control form-control-lg fs-6" placeholder="Password" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="input-group mb-3 d-flex justify-content-between">
                        <div class="form-check">
                            <input asp-for="RememberMe" class="form-check-input" id="formCheck" />
                            <label for="formCheck" class="form-check-label text-secondary"><small>Remember Me</small></label>
                        </div>       
                        <div>
                            <small><a href="#">Forgot Password?</a></small>
                        </div>
                    </div>

                    <button class="btn btn-pink btn-lg w-100">Login</button>
                </form>

            </div>
        </div>
    </div>
    <!-- Left -->
    <div class="col-lg-6 d-none d-lg-block position-relative p-0">
        <div class="bg-holder" style="background-image: url('/img/login-img.png');"></div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}